<div class="pagination-box">
    <ul class="pagination r-pagination" ng-if="conf.totalItems > 0">
        <li ng-class="{disabled: conf.currentPage == 1}" ng-click="changeCurrentPage(1)"><a>首页</a></li>
        <li ng-class="{disabled: conf.currentPage == 1}" ng-click="prevPage()"><a class="page-pre">&nbsp;&nbsp;</a></li>
        <li ng-repeat="item in pageList track by $index"
            ng-class="{active: item == conf.currentPage, separate: item == '...'}"
            ng-click="changeCurrentPage(item)">
            <a>{{ item }}</a>
        </li>
        <li ng-class="{disabled: conf.currentPage == conf.numberOfPages}" ng-click="nextPage()"><a class="page-next">
            &nbsp;&nbsp;</a>
        </li>
        <li ng-class="{disabled: conf.currentPage == conf.numberOfPages}"
            ng-click="changeCurrentPage(conf.numberOfPages)"><a>末页</a></li>
    </ul>
    <div class="pagination-pagenum" ng-if="conf.showPageCount && conf.totalItems > 0">当页显示
        <div class="dropdown r-select-thin select-sm">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                {{conf.itemsPerPage}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="perPageOption in conf.perPageOptions"><a ng-click="changeItemsPerPage(perPageOption)">{{perPageOption}}</a></li>
            </ul>
        </div>
        条数据
    </div>
    <div class="pagination-total" ng-if="conf.totalItems > 0">共<span>{{conf.numberOfPages}}</span>页，<span>{{conf.totalItems}}</span>条</div>
</div>
