<!--统计信息开始-->
<div class="row">
    <div class="col-md-7">
        <div class="contact-stats-box">
            <div class="contact-num">
                <small>Today</small>
                <span class="add-num">33</span><strong>vip amount</strong>
            </div>
            <div class="contact-pct add-pct">
                <dl>
                    <dt>week</dt>
                    <dd>32</dd>
                    <dd><span class="icon-b-rise"></span>11%</dd>
                </dl>
                <dl>
                    <dt>month</dt>
                    <dd>132</dd>
                    <dd><span class="icon-b-rise"></span>7%</dd>
                </dl>
            </div>
            <div class="contact-add-chart">
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="contact-stats-box">
            <div class="contact-num">
                <span class="total-num">10,233</span><strong> vip total </strong>
            </div>
            <div class="contact-pct type-pct">
                <dl class="type-red">
                    <dt><span class="dot"></span>vip</dt>
                    <dd>1,545</dd>
                    <dd>(31%)</dd>
                </dl>
                <dl class="type-brown">
                    <dt><span class="dot"></span>support</dt>
                    <dd>12,453</dd>
                    <dd>(54%)</dd>
                </dl>
            </div>
            <div class="contact-type-chart"></div>
        </div>
    </div>
</div>
<!--统计信息结束-->
<div class="m-bar">
    <div class="input-group r-search pull-left">
        <input type="text" class="form-control" placeholder="姓名/企业/电话/邮箱">

        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
    </div>
    <div class="btn-group r-btn-group pull-right">
        <span class="group-title">data：</span>
        <a type="button" class="btn btn-default link-icon-dark" href="#exportData" data-toggle="modal"><i
                class="icon-l-export"></i><span>export</span></a>
    </div>
</div>
<!--联系人列表开始-->
<div class="m-grid grid-blue-lg company-grid">
    <table>
        <thead>
        <tr>
            <th class="id">email</th>
            <th class="dropup">state</th>
            <th class="area">origin</th>
            <th class="property">time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>844487@qq.com</td>
            <td>

            </td>
            <td>vip</td>
            <td>2016-4-8</td>
        </tr>
        <tr>
            <td>844487@qq.com</td>
            <td>

            </td>
            <td>vip</td>
            <td>2016-4-8</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="14" class="icheck">
                <div class="pagination-center">
                    <div class="pagination-box">
                        <ul class=" pagination r-pagination">
                            <li class="disabled"><a href="#">首页</a></li>
                            <li class="disabled"><a href="#" class="page-pre">&nbsp;&nbsp;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#" class="page-next">&nbsp;&nbsp;</a></li>
                            <li><a href="#">末页</a></li>
                        </ul>
                        <div class="pagination-pagenum">当页显示 条数据</div>
                        <div class="pagination-total">共<span>1311</span>位联系人</div>
                    </div>
                </div>

            </th>
        </tr>
        </tfoot>
    </table>
</div>
<!--联系人列表结束-->