<!--统计信息开始-->
<div class="row">
    <div class="col-md-7">
        <div class="contact-stats-box">
            <div class="contact-num">
                <small>Today</small>
                <span class="add-num">33</span><strong>vip amount</strong>
            </div>
            <div class="contact-pct add-pct">
                <dl>
                    <dt>week</dt>
                    <dd>32</dd>
                    <dd><span class="icon-b-rise"></span>11%</dd>
                </dl>
                <dl>
                    <dt>month</dt>
                    <dd>132</dd>
                    <dd><span class="icon-b-rise"></span>7%</dd>
                </dl>
            </div>
            <div class="contact-add-chart">
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="contact-stats-box">
            <div class="contact-num">
                <span class="total-num">10,233</span><strong> vip total </strong>
            </div>
            <div class="contact-pct type-pct">
                <dl class="type-red">
                    <dt><span class="dot"></span>vip</dt>
                    <dd>1,545</dd>
                    <dd>(31%)</dd>
                </dl>
                <dl class="type-brown">
                    <dt><span class="dot"></span>support</dt>
                    <dd>12,453</dd>
                    <dd>(54%)</dd>
                </dl>
            </div>
            <div class="contact-type-chart"></div>
        </div>
    </div>
</div>
<!--统计信息结束-->
<div class="m-bar">
    <div class="input-group r-search pull-left">
        <input type="text" class="form-control" placeholder="姓名/企业/电话/邮箱">

        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
    </div>
    <div class="btn-group r-btn-group pull-right">
        <span class="group-title">data：</span>
        <a type="button" class="btn btn-default link-icon-dark" href="#exportData" data-toggle="modal"><i
                class="icon-l-export"></i><span>export</span></a>
    </div>
</div>
<!--联系人列表开始-->
<div class="m-grid grid-blue-lg company-grid">
    <table>
        <thead>
        <tr>
            <th class="checks"></th>
            <th class="id">ID</th>
            <th class="dropup company">所属企业</th>
            <th class="area">所在地</th>
            <th class="property">企业性质</th>
            <th class="number">联系人数量</th>
            <th class="contact">最近联系人</th>
            <th class="sales">销售线索<span class="caret"></span></th>
            <th class="addtime">添加时间</th>
            <th class="sex">性别</th>
            <th class="zipcode">邮编</th>
            <th class="updatetime">最后更新时间</th>
            <th class="birth">出生日期</th>
            <th class="right operate2"><a href="" class="icon-o-setfiled"></a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="icheck">
                <div class="r-checkbox"><input type="checkbox" id="c01"/><label for="c01"></label></div>
            </td>
            <td>1</td>
            <td>
                <div class="dropdown r-dropdown-dark">
                    <a>北京赛诺贝斯科技发展有限公司</a>

                    <div class="dropdown-menu drop-company">
                        <div class="arrow"></div>
                        <div class="dropdown-cont">
                            <img src="../../images/companyimg.jpg" alt=""/>

                            <div class="pull-right">
                                <h5>133 :戴尔(中国)有限公司当然这里可以换行的</h5>

                                <div class="company-info" title="IT行业  信息技术和服务  办公助手"><i
                                        class="icon-b-info-dark"></i>IT行业 信息技术和服务
                                    办公助手
                                </div>
                                <div class="company-info" title="北京"><i class="icon-b-add-dark"></i>北京</div>
                            </div>
                        </div>
                        <div class="dropdown-dark-foot clearfix">
                            <dl>
                                <dt>5</dt>
                                <dd>销售线索</dd>
                            </dl>
                            <dl>
                                <dt>13246</dt>
                                <dd>联系人</dd>
                            </dl>
                            <dl>
                                <dt>$1000</dt>
                                <dd>注册资金</dd>
                            </dl>
                            <dl>
                                <dt>500+</dt>
                                <dd>企业规模</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </td>
            <td>北京</td>
            <td>国有企业</td>
            <td><strong>5</strong></td>
            <td><a href="">苏恺棋</a></td>
            <td class="order"><strong>11</strong></td>
            <td class="light">2015-07-31</td>
            <td>男</td>
            <td>050800</td>
            <td>2015-07-31</td>
            <td>2015-07-31</td>
            <td class="left"><a href="" class="icon-o-edit" title="编辑"></a>
                <a href="" class="icon-o-addtogroup" title="添加到分组"></a>
                <a href="" class="icon-o-delfromgroup" title="从分组删除"></a>
            </td>
        </tr>
        <tr>
            <td class="icheck">
                <div class="r-checkbox"><input type="checkbox" id="c02"/><label for="c02"></label></div>
            </td>
            <td>2</td>
            <td><a href="">中国农业银行股份有限公司</a></td>
            <td>上海</td>
            <td>合资企业</td>
            <td><strong>10</strong></td>
            <td><a href="">文清</a></td>
            <td class="order"><strong>0</strong></td>
            <td class="light">2015-07-30</td>
            <td>女</td>
            <td>050800</td>
            <td>2015-07-30</td>
            <td>2015-07-30</td>
            <td class="left"><a href="" class="icon-o-edit" title="编辑"></a>
                <a href="" class="icon-o-addtogroup" title="添加到分组"></a>
                <a href="" class="icon-o-delfromgroup" title="从分组删除"></a>
            </td>
        </tr>
        <tr>
            <td class="icheck">
                <div class="r-checkbox"><input type="checkbox" id="c03"/><label for="c03"></label></div>
            </td>
            <td>3</td>
            <td><a href="">北京赛诺贝斯科技发展有限公司</a></td>
            <td>河北</td>
            <td>外资</td>
            <td><strong>6</strong></td>
            <td><a href="">梁亚东</a></td>
            <td class="order"><strong>0</strong></td>
            <td class="light">2015-07-30</td>
            <td>男</td>
            <td>050800</td>
            <td>2015-06-25</td>
            <td>2015-06-25</td>
            <td class="left"><a href="" class="icon-o-edit" title="编辑"></a>
                <a href="" class="icon-o-addtogroup" title="添加到分组"></a>
                <a href="" class="icon-o-delfromgroup" title="从分组删除"></a>
            </td>
        </tr>
        <tr>
            <td class="icheck">
                <div class="r-checkbox"><input type="checkbox" id="c04"/><label for="c04"></label></div>
            </td>
            <td>3</td>
            <td><a href="">中国农业银行股份有限公司</a></td>
            <td>北京</td>
            <td class="null">--</td>
            <td><strong>4</strong></td>
            <td>Jason</td>
            <td class="order"><strong>8</strong></td>
            <td class="light">2015-07-30</td>
            <td>女</td>
            <td>050800</td>
            <td>2015-07-31</td>
            <td>2015-07-31</td>
            <td class="left"><a href="" class="icon-o-edit" title="编辑"></a>
                <a href="" class="icon-o-addtogroup" title="添加到分组"></a>
                <a href="" class="icon-o-delfromgroup" title="从分组删除"></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="14" class="icheck">
                <div class="r-checkbox"><input type="checkbox"/><label></label></div>
                <a href="" class="u-ml10">添加到分组</a>

                <div class="pagination-center">
                    <div class="pagination-box">
                        <ul class=" pagination r-pagination">
                            <li class="disabled"><a href="#">首页</a></li>
                            <li class="disabled"><a href="#" class="page-pre">&nbsp;&nbsp;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#" class="page-next">&nbsp;&nbsp;</a></li>
                            <li><a href="#">末页</a></li>
                        </ul>
                        <div class="pagination-pagenum">当页显示 条数据</div>
                        <div class="pagination-total">共<span>1311</span>位联系人</div>
                    </div>
                </div>

            </th>
        </tr>
        </tfoot>
    </table>
</div>
<!--联系人列表结束-->