<!--统计信息开始-->
<div class="row">
    <div class="col-md-7">
        <div class="contact-stats-box">
            <div class="contact-num">
                <small>Today</small>
                <span class="add-num">33</span><strong>vip amount</strong>
            </div>
            <div class="contact-pct add-pct">
                <dl>
                    <dt>week</dt>
                    <dd>32</dd>
                    <dd><span class="icon-b-rise"></span>11%</dd>
                </dl>
                <dl>
                    <dt>month</dt>
                    <dd>132</dd>
                    <dd><span class="icon-b-rise"></span>7%</dd>
                </dl>
            </div>
            <div class="contact-add-chart">
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="contact-stats-box">
            <div class="contact-num">
                <span class="total-num">10,233</span><strong> vip total </strong>
            </div>
            <div class="contact-pct type-pct">
                <dl class="type-red">
                    <dt><span class="dot"></span>vip</dt>
                    <dd>1,545</dd>
                    <dd>(31%)</dd>
                </dl>
                <dl class="type-brown">
                    <dt><span class="dot"></span>support</dt>
                    <dd>12,453</dd>
                    <dd>(54%)</dd>
                </dl>
            </div>
            <div class="contact-type-chart"></div>
        </div>
    </div>
</div>
<!--统计信息结束-->
<div class="m-bar">
    <div class="row">
        <div class="col-md-4">
            <div class="r-datePicker datePicker-md">
                <input class="form-control" type="text" ng-change="search()" options="options" date-range-picker ng-model="concernedDate">
                <i class="icon-c-datepicker"></i>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group r-search pull-left">
                <input type="text" class="form-control" placeholder="email/state" ng-model="keyWord">

                <div class="input-group-addon"><i class="glyphicon glyphicon-search" ng-click="search()"></i></div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="btn-group r-btn-group pull-right">
                <span class="group-title">data：</span>
                <a type="button" class="btn btn-default link-icon-dark" href="#exportData"  data-toggle="modal"><i
                        class="icon-l-export"></i><span>export</span></a>
            </div>
        </div>

    </div>



</div>
<!--联系人列表开始-->
<div class="m-grid grid-blue-lg company-grid">
    <table>
        <thead>
        <tr>
            <th class="id">email</th>
            <th class="dropup">state</th>
            <th class="area">origin</th>
            <th class="property">time</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vipList">
            <td ng-bind="item.email">844487@qq.com</td>
            <td ng-bind="item.acronym" title="{{item.capital}}">

            </td>
            <td ng-bind="item.type">vip</td>
            <td ng-bind="item.createTime">2016-4-8</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="4" class="icheck">
                <tm-pagination conf='paginationConf'></tm-pagination>
            </th>
        </tr>
        </tfoot>
    </table>
</div>

<!--联系人列表结束-->