// 帮助提示
.m-help-icon{
  position: relative;
  line-height: 16px;
  &:hover > .m-help-tip{
    display: block;
  }
}

.m-help-tip{
  padding: 10px;
  color: color(gray,darker);
  background-color: $tooltip-bg;
  border:2px solid $tooltip-font-color;
  width:182px;position: absolute;top:-10px;right:-190px;display: none;line-height: 18px;text-decoration: none !important;z-index:10;
  &:before{
    display: block;width: 0;height: 0; content: "";border: 8px solid; border-color:  transparent #807732 transparent transparent;
    position: absolute;right:100%;top:10px;
  }
  &.right{
    right:inherit;left: -190px;
    &:before{
      border-color:  transparent transparent transparent #807732;right: inherit;left: 100%;
    }
  }
}