.m-sort-drag{
  height:32px;position:relative;display:inline-block;padding:1px;margin:0px;box-sizing:content-box;background-color:color(white);list-style-type: none;
  font-size:0px;white-space: nowrap;
  li{
    height:32px;display:inline-block;position:relative;padding:0 15px;margin:0px;background-color:$sort-blue-light;z-index:1;
    border-top:2px solid $sort-blue;border-left:1px solid $sort-blue;box-sizing:border-box;
    font-size:12px;color:color(gray,darker);line-height:32px;text-align:center;white-space: nowrap;
    &:nth-last-of-type(1){
      border-right:1px solid $sort-blue;
    }
    &:hover,&.hover{
      height:34px;top:-2px;background-color:#f0f6ff;cursor:pointer;box-shadow:0 0 5px color(gray);
      border-top:1px solid $sort-blue;border-bottom:1px solid $sort-blue;z-index:2;line-height:34px;
    }
  }
}