/* margin */
.u-mt5{margin-top: 5px;}
.u-mb5{margin-bottom: 5px;}
.u-mr5{margin-right: 5px;}
.u-mt10{margin-top: 10px;}
.u-mb10{margin-bottom: 10px;}
.u-ml10{margin-left: 10px;}
.u-mr10{margin-right: 10px;}
.u-mlr10{margin-left: 10px;margin-right: 10px;}
.u-mt15{margin-top: 15px;}
.u-mr15{margin-right: 15px;}
.u-mt20{margin-top: 20px;}
.u-mb20{margin-bottom: 20px;}
.u-ml20{margin-left: 20px;}
.u-mr20{margin-right: 20px;}



/* padding */
.u-pt20{padding-top: 20px;}
.u-ptb20lr10{padding: 20px 10px;}